<div class="form-container">
    <h1>All Users</h1>

    <table id="users-table">
        <thead>
            <tr>
                <th><%= sort_link('FirstName', 'firstname') %></th>
                <th><%= sort_link('LastName', 'lastname') %></th>
                <th>Gender</th>
                <th><%= sort_link('Email', 'email') %></th>
                <th>Phone</th>
                <th><%= sort_link('Subject', 'subject') %></th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        <% @forms.each do |form| %>
            <tr>
                <td><%= form.firstname %></td>
                <td><%= form.lastname %></td>
                <td><%= form.gender %></td>
                <td><%= form.email %></td>
                <td><%= form.phonenumber %></td>
                <td><%= form.subject %></td>
                <td>
                <%= button_to 'ลบ', form_path(form), method: :get, data: { turbo_frame: 'modal' } %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>

    <div class="botton_allList">
        <%= link_to 'กลับหน้าลงทะเบียน', new_form_path %>
    </div>

    <%= turbo_frame_tag 'modal' %>
</div>